<tr class="filter-container">
    <th>#</th>
    <th>
        <div class="form-group">
            <view data-id="employerName" data-constructor="Views/Fields/Base" data-options="{
                        className: 'form-control',
                        name: 'employerName',
                        type: 'name',
                        attrs: {
                        placeholder: '{%- data.employerNamePlaceholder %}'
                         }
                    }" />
        </div>
    </th>
    <th>
        <div class="form-group">
            <view data-id="studentsName" data-constructor="Views/Fields/Base" data-options="{
                        className: 'form-control',
                        name: 'studentsName',
                        type: 'name',
                        attrs: {
                        placeholder: '{%- data.employerStudentsPlaceholder %}'
                         }
                    }" />
        </div>
    </th>
</tr>