<div>
<tr>
    <td width="10"></td>
    <td height="20">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Masha" width="80">
        </div>
    </td>
    <td>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Masha" width="80">
        </div>
    </td>
    <td></td>
</tr>
<tr class="active">
    <td>1</td>
    <td>Ivan Ivanov</td>
    <td>
        <span><a href="student.jsp">Vasya</a><a href=""><i class="fa fa-times"></i></a> ,</span>
        <span><a href="student.jsp">Vasya</a><a href=""><i class="fa fa-times"></i></a> ,</span>
        <span><a href="student.jsp">Vasya</a><a href=""><i class="fa fa-times"></i></a></span>
    </td>
    <td>
        <div class="btn-group">
            <a href=""><i class="fa fa-plus-square fa-2x"></i></a>
            <ul class="dropdown-menu ">
                <label class="control-label add-to-curator">Name</label>
                <div class="controls">
                    <div class="input-prepend add-to-curator" style="white-space: nowrap">
                        <span class="add-on"><i class="icon-lock"></i></span><input>
                    </div>
                </div>
            </ul>
        </div>
    </td>
</tr>
<tr class="active">
    <td>2</td>
    <td>Sergey Segorov</td>
    <td>
        <span><a href="student.jsp">Vasya</a><a href=""><i class="fa fa-times"></i></a> ,</span>
        <span><a href="student.jsp">Vasya</a><a href=""><i class="fa fa-times"></i></a> ,</span>
        <span><a href="student.jsp">Vasya</a><a href=""><i class="fa fa-times"></i></a></span>

    </td>
    <td>
        <div class="btn-group">
            <a href=""><i class="fa fa-plus-square fa-2x"></i></a>
            <ul class="dropdown-menu ">
                <label class="control-label add-to-curator">Name</label>
                <div class="controls">
                    <div class="input-prepend add-to-curator" style="white-space: nowrap">
                        <span class="add-on"><i class="icon-lock"></i></span><input>
                    </div>
                </div>
            </ul>
        </div>
    </td>
</tr>
<tr class="active">
    <td>3</td>
    <td>Maria Milova</td>
    <td>
        <span><a href="student.jsp">Vasya</a><a href=""><i class="fa fa-times"></i></a> ,</span>
        <span><a href="student.jsp">Vasya</a><a href=""><i class="fa fa-times"></i></a> ,</span>
        <span><a href="student.jsp">Vasya</a><a href=""><i class="fa fa-times"></i></a></span>
    </td>
    <td>
        <div class="btn-group">
            <a href=""><i class="fa fa-plus-square fa-2x"></i></a>
            <ul class="dropdown-menu ">
                <label class="control-label add-to-curator">Name</label>
                <div class="controls">
                    <div class="input-prepend add-to-curator" style="white-space: nowrap">
                        <span class="add-on"><i class="icon-lock"></i></span><input>
                    </div>
                </div>
            </ul>
        </div>
    </td>
</tr>

</div>